.image_field.nested-fields
  -if f.object.image?
    .tag-sample= "挿入タグ:<img src='#{f.object.image.url}'>"
    .uploaded-image= image_tag f.object.image.url
    .image-delete_button= link_to_remove_association "画像の削除", f
  = f.file_field :image
  = f.hidden_field :image_cache