-# frozen_string_literal: true
= simple_form_for [:admin, @article] do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :entry_at
    = f.input :title
    = f.input :content
    = f.input :published

  .form-actions
    = f.button :submit
