-# frozen_string_literal: true
= simple_form_for [:admin, @article] do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :entry_at
    = f.input :title
    = f.input :content
    = f.input :published
    = f.input :access_level, collection: Article.access_level.options, as: :radio_buttons, checked: 'normal'

    .article_images
      = f.simple_fields_for :article_images do |img|
        = render 'article_image_fields', f: img
      .links
        = link_to_add_association '画像の追加',f, :article_images

  .form-actions
    = f.button :submit, class: "btn btn-primary"
