-# frozen_string_literal: true
- @article.default_images_build
= simple_form_for [:admin, @article] do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :entry_at
    = f.input :title
    = f.input :content
    = f.input :published
    = f.input :access_level, collection: [ ['全公開', 'normal'],[ '友達権限', 'friend"'], [ '家族権限', 'family'] ], as: :radio_buttons, checked: 'normal'
    -#= f.input :access_level, collection: Article.access_levels, as: :radio_buttons, checked: 0

    = f.simple_fields_for :article_images do |img|
      .image_field
        -if img.object.image?
          .tag-sample= "挿入タグ:<img src='#{img.object.image.url}'>"
          .uploaded-image= image_tag img.object.image.url
        = img.file_field :image

  .form-actions
    = f.button :submit, class: "btn btn-primary"
