%p
  %b 投稿日:
  = l @article.entry_at
%p
  %b タイトル:
  = @article.title
%p
  %b 本文:
  = simple_format replace_image_tag(@article.id, @article.content)
%p
  %b 閲覧権限:
  = @article.access_level_text
%p
  %b 公開有無:
  = @article.published ? "公開" : "非公開"

= link_to '編集', edit_admin_article_path(@article)
\|
= link_to '戻る', admin_articles_path
