.col-md-9
  = paginate @articles
  - @articles.each do |article|
    .article
      .entry_at
        = fa_icon('calendar-o')
        = l article.entry_at
      .title
        %h2= article.title
      .content
        = simple_format article.content.truncate(300, omission: '…')
        - if article.content.length > 300
          =link_to "続きを読む", article_path(article)
  = paginate @articles

= render 'sidebar'
