%h2 ロック解除のためのメール再送
= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
  = f.error_notification
  = f.full_error :unlock_token
  .form-inputs
    = f.input :email, required: true, autofocus: true
  .form-actions
    = f.button :submit, "ロック解除のためのメールを再送する", class: "btn-primary"
= render "devise/shared/links"
