%h2 パスワードを忘れた場合
= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, required: true, autofocus: true
  .form-actions
    = f.button :submit, "パスワード再設定のためのメールを送信する", class: "btn-primary"
= render "devise/shared/links"
